@import "./base.css";
@import "./fonts.css";


#app {
  margin: auto;
  padding: 0rem;
  font-weight: normal;
}

button {
  font-family: Inter;
  @apply p-y-1 p-x-4 border-1 border-solid border-gray/40 rounded-2 text-sm
  @apply transition-all duration-200
  @apply focus:ring-2 ring-offset-1 ring-gray/50  
  @apply text-black
  @apply hover:filter-brightness-95 focus:filter-brightness-95
  @apply hover:shadow-md;
  @apply dark:bg-dark dark:text-light;
}
:focus {
  outline: none;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  font-family: Inter;
  @apply p-y-2 p-x-3 border-1 border-solid border-gray/40 rounded-2 dark:bg-dark
  @apply transition-all duration-200
  @apply focus:ring-2 ring-offset-1 ring-gray/50
  @apply text-dark dark:text-light;
  @apply hover:shadow-md;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
